.MainPageButton {
  background-color: #00fa96;
  outline: none;
  cursor: pointer;
  border: 1px solid #00fa96;
  color: #222b38;
  font-family: inherit;
  font-size: 1.2em;
  padding: 10px 25px;
  /* box-shadow: 2px 2px 2px #966909; */
  border-radius: 5px;
  margin-top: 2rem;
}

.MainPageButton:hover,
.MainPageButton:active {
  background-color: #222b38;
  border: 1px solid #222b38;
  color: #00fa96;
}

.ContactButton {
  background-color: #00fa96;
  outline: none;
  cursor: pointer;
  border: 1px solid #00fa96;
  color: #222b38;
  font-family: inherit;
  font-size: 1.2em;
  padding: 10px 25px;
  /* box-shadow: 2px 2px 2px #966909; */
  border-radius: 5px;
  margin-top: 2rem;
}

.ContactButton:hover,
.ContactButton:active {
  background-color: #ffffff;
  border: 1px solid #00fa96;
  color: #00fa96;
}

@keyframes enable {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
