.Navbar {
  display: flex;
  background-color: #222b38;
  justify-content: space-between;
}
.NavBrand {
  flex-grow: 1;
}
.NavOptions {
  flex: 3;
  /* background-color: red; */
  padding-top: 10px;
  padding-right: 2rem;
}
.NavItems {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li {
  color: white;
}
